<h1>Find your furry companion!</h1>

<% @dogs.each do |dog| %>
  <h2><%= dog.name.gsub(/&#39;/,'`') %></h2>

  <%= image_tag dog.pictures['medium'] %>

  <% if dog.breeds['secondary'].nil? || dog.breeds['secondary'] == 'Mixed Breed' %>
    <p><%= dog.breeds['primary'] %></p>
  <% else %>
    <p><%= dog.breeds['primary'] %> x <%= dog.breeds['secondary'] %></p>
  <% end %>

  <p><%= dog.gender %></p>
  <p><%= dog.size %></p>

  <p><% dog.qualities.each do |q| %>
    <%= q %>
  <% end %></p>

  <p><%= dog.coat %></p>

  <% if dog.colors['secondary'].nil? %>
    <p><%= dog.colors['primary'] %></p>
  <% else %>
    <p><%= dog.colors['primary'] %> & <%= dog.colors['secondary'] %></p>
  <% end %>

  <p>Spayed/Neutered?
  <% if dog.features['spayed_neutered'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>House trained?
  <% if dog.features['house_trained'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Declawed?
  <% if dog.features['declawed'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Special needs?
  <% if dog.features['special_needs'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Shots up-to-date?
  <% if dog.features['shots_current'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Good with children?
  <% if dog.environments['children'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Good with other dogs?
  <% if dog.environments['dogs'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <p>Good with cats?
  <% if dog.environments['cats'] == true %> Yes
  <% else %> No</p>
  <% end %>

  <a href="<%= dog.url %>" target="_blank">More info</a>
<% end %>
